<mat-card>
    <form class="example-form" (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <div>
            <mat-form-field>
                <input matInput type="email" placeholder="Email" name="email" ngModel required #email="ngModel"
                    pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$">
                <mat-error *ngIf="email.errors?.required || email.dirty">Email id is required</mat-error>
                <mat-error *ngIf="email.errors?.pattern">Email id is not valid!!!!</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field>
            <input matInput type="Password" placeholder="Password" name="password" ngModel required minlength="5"
                #password="ngModel">
            <mat-error *ngIf="password.invalid">Please enter password</mat-error>
        </mat-form-field>

        <div class=" example-button-row">
            <button type="submit" mat-raised-button color="primary"
                [disabled]="password.invalid||email.errors?.required||email.errors?.pattern">Login</button>
        </div>
        <mat-error *ngIf="!isAuthentic">{{loginStatus}}</mat-error>
        <div>
            <button type="button" mat-raised-button color="primary" (click)='onForgotPassword()'>Forgot
                Password</button>
        </div>
    </form>
</mat-card>