<mat-card>
    <form class="example-form" (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Full Name" name="name" ngModel required #name="ngModel">
                <mat-error *ngIf="name.invalid">Full Name is required</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="email" placeholder="Email" name="email" ngModel required #email="ngModel"
                    pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$"
                    (input)="onEmailCheck($event.target.value,email.errors)">
                <mat-error *ngIf="email.errors?.required || email.dirty">Email id is required</mat-error>
                <mat-error *ngIf="email.errors?.pattern">Email id is not valid!!!!</mat-error>
            </mat-form-field>
            <mat-error *ngIf="isEmailExist">Email Id Already Exist</mat-error>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="Password" placeholder="Password" name="password" ngModel required minlength="5"
                    #password="ngModel">
                <mat-error *ngIf="password.invalid">Password is required</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field>
            <input matInput type="Password" placeholder="Confirm Password" name="confirmPassword" ngModel required
                minlength="5" #confirmPassword="ngModel"
                (input)="onConfirmPassword($event.target.value,password.value)">
            <mat-error *ngIf="confirmPassword.invalid">Confirm Password is required</mat-error>
        </mat-form-field>
        <mat-error *ngIf="!isPasswordMatched && confirmPassword.dirty">Password did not matched</mat-error>
        <div class=" example-button-row">
            <button [disabled]='!isPasswordMatched||confirmPassword.invalid||email.invalid||name.invalid' type="submit"
                mat-raised-button color="primary">Register</button>
        </div>
        <mat-card>
            <mat-label>{{label}}</mat-label>
            <a matLine (click)='redirectGoogleAuth()'> Continue with Google</a>
        </mat-card>
    </form>
</mat-card>
<mat-card *ngIf='isResponse'>
    <mat-label>{{label}}</mat-label>
    <a matLine (click)='redirect()'> Continue to login</a>
</mat-card>