<mat-spinner *ngIf='isLoading'></mat-spinner>
<div *ngIf="isAuthenticated">
    <mat-accordion multi="false" *ngIf='!isLoading'>
        <mat-expansion-panel *ngFor='let post of posts'>
            <mat-expansion-panel-header>
                {{ post.createrName }}
            </mat-expansion-panel-header>
            <p>{{ post.title }}</p>
            <p>{{ post.content }}</p>
            <mat-action-row *ngIf="userId===post.createrId">
                <a mat-raised-button color="primary" [routerLink]="['/edit' , post.id]">Edit</a>
                <button type=" button" mat-raised-button color="warn" (click)="onDelete(post.id)">Delete</button>
            </mat-action-row>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
    </mat-accordion>
</div>