<div class="header">
    <mat-toolbar>
        <!-- <span routerLink=''> Welcome to Bareilly Car Rental</span> -->

        <h1 routerLink='/post'>Welcome to PostBook</h1>
        <a mat-button routerLink='/friendsearch' *ngIf='isAuthenticated' routerLinkActive="mat-accent">Find Friends</a>
        <a mat-button routerLink='/friends' *ngIf='isAuthenticated' routerLinkActive="mat-accent">Friends</a>
        <a mat-button routerLink='/login' *ngIf='!isAuthenticated' routerLinkActive="mat-accent">Login</a>
        <a mat-button routerLink='/signup' *ngIf='!isAuthenticated' routerLinkActive="mat-accent">Signup</a>
        <label *ngIf='isAuthenticated' (click)='userProfile()'>{{userName}}</label>
        <a mat-button (click)='onLogout()' *ngIf='isAuthenticated'>logout</a>
    </mat-toolbar>
</div>