
<div mat-dialog-content>
    <mat-spinner *ngIf='isLoading'></mat-spinner>
</div>
<mat-card>
    <form class="example-form" (submit)="onSubmit(forgotPasswordForm)" #forgotPasswordForm="ngForm">
        <div>
            <mat-form-field>
                <input matInput type="email" placeholder="Enter your Email ID" name="email" ngModel required #email="ngModel">
                <mat-error *ngIf="email.invalid">Please Login Email ID to receive password</mat-error>
            </mat-form-field>
        </div>

        <div class=" example-button-row">
            <button type="submit" mat-raised-button color="primary">Submit</button>
        </div>
        <div>
            <mat-label *ngIf='status'>{{message}}</mat-label>
        </div>

    </form>
</mat-card>